$maxWidth: 1600px;
$maxHeight: 1200px;
$sidebarHeight: 86px;

:root {
    --white: #fff;
    --black: #000;
    --dark-green: #3d9090;
    --mid-green: #bddddd;
    --light-green: #dbeeee;
    --brown: #e4d7b9;
    --grey: #c4c4c4;
    --beige: #fff3da;
    --dark-grey: #94a6a6;
    --background: #dbeeee;
    --regular-font: 16px;
    --big-font: 21px;
    --huge-font: 24px;
    --hover-white: rgb(255 255 255 / 25%);
}
